.feed-container{
  display: flex;
  flex-direction: column;
  /*background-color: #c4c4c4;*/
}

.chat-container{
  flex-direction: column;
  margin: 10px 0;
}

.message-container{
  border: solid 1px red;


  display: flex;
  height: auto;
  width: 70%;
  min-width: 400px;
  border-radius: 5px;
  align-items:stretch;
  background-color: #eee;
  box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
}

.message-contenu{
  height: auto;
  flex: 9;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
